<div class="container__big-card">

    <div class="big-card__image">
        <img src="https://miro.medium.com/v2/resize:fit:720/format:webp/1*Kj8Eq401fP2ecTY8r9B89Q.png" alt=""
            height="250px">
    </div>
    <div class="big-card__title">
        <h1><a href="#">Saiu a nova versão do Angular</a></h1>
    </div>
    <div class="big-card__description">
        <p><a href="#">texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto
                texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto
                texto texto texto texto texto texto texto texto texto texto texto texto texto texto
            </a></p>
    </div>
</div>