<app-menu-title></app-menu-title>

<div class="container__articles">

    <div class="articles__main">
        <app-big-card 
        id="1"
        imageCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQngiZBP7gX_lAyiwuzQzimHwHqeskrXz_AMw&s"
        cardTitle="Novo Angular Saindo ...."
        cardDescription="O Novo Angular na sua 18ª versão"
        
        ></app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card id="2"></app-small-card>
        <app-small-card imageCover="https://www.fullstackpython.com/img/logos/react.png" 
        cardTitle="React é o melhor frameworks?"></app-small-card>
        <app-small-card></app-small-card>
    </div>
</div>